:root {
  --accent-cl: #ff6c00;
  --accent-dark-cl: rgba(235, 85, 0, 1);
  --main-text-cl: #1c1b1b;
  --button-text-cl: #fff;
  --gradient: linear-gradient(
    92.31deg,
    rgba(237, 226, 218, 0.9) 11.41%,
    rgba(237, 226, 218, 0.753896) 28.14%,
    rgba(237, 226, 218, 0.466698) 41.29%,
    rgba(237, 226, 218, 0) 48.22%
  );
  --gradient-mobile: linear-gradient(
    104.71deg,
    rgba(237, 226, 218, 0.9) 11.41%,
    rgba(237, 226, 218, 0.753896) 28.14%,
    rgba(237, 226, 218, 0.466698) 41.29%,
    rgba(237, 226, 218, 0) 48.22%
  );
  --dashed-border: url("data:image/svg+xml,%3csvg width='103%25' height='101%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%231C1B1B' stroke-width='1' stroke-dasharray='8%2c 8' stroke-dashoffset='61' stroke-linecap='square'/%3e%3c/svg%3e");
}

@font-face {
  font-family: "Acrom";
  src: url(/Acrom-Light.68ac2d43.woff) format("woff"), url(/Acrom-Light.494b6d45.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Acrom";
  src: url(/Acrom-Regular.96326574.woff) format("woff"), url(/Acrom-Regular.c8780340.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Acrom";
  src: url(/Acrom-Medium.333c9898.woff) format("woff"), url(/Acrom-Medium.333c9898.woff) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Acrom";
  src: url(/Acrom-Bold.3700b40e.woff) format("woff"), url(/Acrom-Bold.d618a077.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Acrom";
  src: url(/Acrom-ExtraBold.5a836c4e.woff) format("woff"), url(/Acrom-ExtraBold.ff500640.woff2) format("woff2");
  font-weight: 800;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Acrom", sans-serif;
  font-size: 14px;
  line-height: 1.24;
  color: var(--main-text-cl);
  background-color: #f9f5f2;
  background-image: url(/bg.cbdaacbf.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.logo {
  display: inline-block;
}

.title {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .title {
    font-size: 50px;
  }
}

.item-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .item-title {
    font-size: 22px;
  }
}

.block-bg {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(5px);
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.img-wrap {
  display: inline-block;
  padding: 20px 20px;
  background-image: url("data:image/svg+xml,%3csvg width='98%25' height='101%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%231C1B1B' stroke-width='1' stroke-dasharray='8%2c 8' stroke-dashoffset='61' stroke-linecap='square'/%3e%3c/svg%3e");
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 480px) {
  .container {
    max-width: 440px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
    padding-left: 0;
    padding-right: 0;
  }
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 17px 18px;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  color: var(--button-text-cl);
  background-color: var(--accent-cl);
  transition: 0.3s linear;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: var(--accent-dark-cl);
}

.btn-float {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.btn-small {
  padding: 9px 20px;
  border-radius: 8px;
}

.btn-accent {
  background-color: var(--main-text-cl);
}
.btn-accent:hover, .btn-accent:focus {
  background-color: #000000;
}

@media (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
  .contacts .btn {
    display: none;
  }
}

.contacts-title {
  font-weight: 700;
}

@media (min-width: 1200px) {
  .contacts-list {
    display: inline-flex;
  }
}

.modal .contacts-item {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contacts-item {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts-item {
    margin-bottom: 0;
  }
}
.contacts-item:first-child .contacts-underline {
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .contacts-item:not(:last-child) {
    border-right: 1px solid currentColor;
  }
}

.contacts-link {
  display: inline-block;
  line-height: 20px;
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.3s ease-in;
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-cl);
}

.socials {
  display: inline-flex;
}
.socials-item:not(:last-child) {
  margin-right: 20px;
}
.socials-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 300ms ease-in;
}
.socials-link:hover, .socials-link:focus {
  background-color: rgba(255, 255, 255, 0.945);
}
.socials-icon {
  width: 100%;
  height: 100%;
  fill: var(--accent-cl);
}

.program-wrap {
  transform: translateY(-60px);
}

.program {
  padding-top: 15px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .program {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .program {
    margin-right: -20px;
    margin-left: -20px;
  }
}
@media (min-width: 1200px) {
  .program {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.program-title {
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.program-list {
  padding-left: 48px;
  padding-right: 48px;
}
@media (min-width: 768px) {
  .program-list {
    display: flex;
    margin-left: -20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.program-item {
  position: relative;
  padding: 10px 18px 42px;
  margin-bottom: 37px;
  border-radius: 10px;
  background-image: var(--dashed-border);
}
@media (min-width: 768px) {
  .program-item {
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .program-item {
    margin-bottom: 20px;
    padding-right: 90px;
  }
}
.program-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-text-cl);
  background-image: url(/plus.11c71f0a.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1200px) {
  .program-item::after {
    bottom: 50%;
    right: 20px;
    transform: translate(0, 50%);
  }
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.backdrop.is-open {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  max-width: 380px;
  padding: 30px 20px 65px;
}

.modal-title {
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #1c1b1b;
  outline: none;
}
.btn-close:focus {
  border: 1.5px solid rgba(255, 255, 255, 0.75);
}

.form-group:not(:last-child) {
  margin-bottom: 30px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}

.form-field {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
}
.form-field:not(:placeholder-shown):invalid,
.form-field .invalid {
  color: #eb5757;
}

.form-field-invalid {
  position: absolute;
  display: none;
  margin-top: 5px;
  font-size: 10px;
  color: #eb5757;
}

.invalid + .form-field-invalid {
  display: block;
}

.thank-you-message {
  display: none;
  text-align: center;
}
.thank-you-message p:not(:last-child) {
  margin-bottom: 15px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  text-align: center;
}

.page-header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.page-header .contacts {
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .page-header .contacts-list {
    display: none;
  }
}
.page-header .contacts-title {
  display: none;
}
@media (min-width: 1200px) {
  .page-header .contacts-title {
    display: block;
  }
}
.page-header .btn:not(.btn-accent) {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .page-header .btn:not(.btn-accent) {
    display: none;
  }
}

.hero {
  background-image: var(--gradient-mobile), url(/banner.c3b241ed.jpg);
  background-repeat: no-repeat;
  background-position: left bottom, center;
  background-size: contain, cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient-mobile), url(/banner@2x.25802b57.jpg);
  }
}
@media (min-width: 480px) {
  .hero {
    background-image: var(--gradient), url(/banner.e75e52c2.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(/banner@2x.397f4f30.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: var(--gradient), url(/bg.7e7a45d8.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(/bg@2x.fea69c0c.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
  }
}
.hero span {
  white-space: nowrap;
}
.hero .btn {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .hero .btn {
    display: none;
  }
}

.hero-content {
  padding-top: 30px;
  padding-bottom: 248px;
}
@media (min-width: 768px) {
  .hero-content {
    max-width: 50%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .hero-content {
    padding-top: 100px;
    padding-bottom: 132px;
    padding-left: 78px;
  }
}

.hero-title {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
  }
}

.skills-item {
  display: flex;
  align-items: center;
  padding: 25px 20px 25px 25px;
}
@media (max-width: 767px) {
  .skills-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .skills-item {
    flex-basis: calc(100% / 2 - 20px);
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .skills-item {
    flex-basis: calc(100% / 3 - 20px);
  }
}

.skills-item-icon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 108, 0, 0.1);
  padding: 10px;
  margin-right: 25px;
  fill: var(--accent-cl);
}

@media (max-width: 767px) {
  .requirements {
    background-image: url(/bg.1e3bae45.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}
@media (min-width: 1200px) {
  .requirements .container {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .requirements .content-box {
    width: 50%;
  }
}
.requirements .content-box:first-child {
  display: none;
}
@media (min-width: 1200px) {
  .requirements .content-box:first-child {
    display: block;
  }
}
@media (min-width: 1200px) {
  .requirements .content-box:last-child .img-wrap {
    display: none;
  }
}

.requirements-list {
  margin-top: -20px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .requirements-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    height: 430px;
    margin-left: -20px;
    margin-top: -30px;
  }
  .requirements-list:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    background-image: url(/bg-desktop.7a42478c.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
  }
}

.requirements-item {
  padding: 20px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .requirements-item {
    width: calc(100% / 2 - 20px);
    margin-top: 30px;
    margin-left: 20px;
  }
}

.requirements-img {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .course .content-box {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .course .content-box {
    margin-left: calc(100% / 12);
  }
}
.course .content-box:first-child {
  padding: 40px 20px 30px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .course .content-box:first-child {
    width: calc(100% / 12 * 4);
  }
}
.course iframe {
  max-width: 100%;
}
@media (max-width: 767px) {
  .course iframe {
    height: 180px;
  }
}
@media screen and (max-width: 767px) {
  .course iframe {
    height: 230px;
  }
}

@media (min-width: 768px) {
  .content-wrap {
    display: flex;
    align-items: flex-start;
  }
}

.themes {
  position: relative;
  padding: 40px 18px 20px;
  border-radius: 10px;
  background-image: var(--dashed-border);
}
.themes:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-text-cl);
  background-image: url(/list.212a005b.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.themes .item-title {
  text-align: center;
}
.themes li {
  line-height: 2;
}

.about-authors {
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .about-authors {
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .about-authors {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.author:not(:last-child) {
  margin-bottom: 40px;
}

.author-name {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-cl);
}

.author-description {
  display: none;
  line-height: 1.8;
  padding-top: 30px;
}

.btn-more {
  border: none;
  padding: 0;
  color: #a29f9d;
  text-decoration: underline;
  background-color: transparent;
}

.price {
  display: flex;
  align-items: center;
  padding: 35px 20px 45px;
}
@media (min-width: 768px) {
  .price {
    padding: 35px;
  }
  .price-content {
    margin-right: 20px;
  }
  .price .btn {
    flex-shrink: 0;
    position: static;
    transform: initial;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .price {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.price-icon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  margin-right: 20px;
  fill: var(--main-text-cl);
}

.price-desc {
  margin-bottom: 10px;
}

.video-wrap {
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .video-wrap {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .video-wrap {
    margin-bottom: 60px;
  }
}

.cost {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .cost {
    margin-bottom: 60px;
  }
}

.cost-title {
  font-weight: 700;
  color: var(--accent-cl);
  letter-spacing: 0.3em;
}

.cost-desc {
  font-size: 20px;
  line-height: 1.2;
}
.cost-desc span {
  text-decoration: line-through;
}

@media (min-width: 1200px) {
  .offer {
    padding-bottom: 120px;
  }
}
.offer .program {
  position: relative;
}
@media (min-width: 1200px) {
  .offer .program {
    width: calc(100% / 12 * 5);
    margin-left: calc(100% / 12);
  }
}
.offer .program::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  width: calc(100% + 16px);
  transform: translateX(-50%);
  height: 60px;
  background-image: url(/brace.d2ba9c1f.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (min-width: 768px) {
  .offer .program::before {
    top: -40px;
    background-image: url(/brace-t.006f8b35.svg);
  }
}
@media (min-width: 1200px) {
  .offer .program::before {
    top: 50%;
    left: -95px;
    transform: translateY(-50%);
    width: 100px;
    height: calc(100% + 20px);
    background-image: url(/brace-v.8d6d534e.svg);
    background-size: contain;
  }
}
@media (min-width: 1200px) {
  .offer .btn-float {
    display: none;
  }
}
@media (min-width: 1200px) {
  .offer .container {
    display: flex;
  }
  .offer .program-list {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .offer-content {
    width: calc(100% / 12 * 4);
    margin-left: calc(100% / 12);
  }
}
.offer-content .btn {
  display: none;
}
@media (min-width: 1200px) {
  .offer-content .btn {
    display: inline-block;
  }
}

.footer {
  background: #1c1b1b;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 100px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer .contacts-link {
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .footer .contacts-item:first-child .contacts-link {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer .logo {
    margin-bottom: 30px;
  }
  .footer .socials {
    margin-top: 30px;
  }
}

.footer .contacts-title {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.footer .copyright {
  font-size: 12px;
  font-weight: 700;
}
@media not screen and (min-width: 1200px) {
  .footer .copyright {
    max-width: 280px;
  }
}
@media (max-width: 767px) {
  .footer .copyright {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer .copyright {
    text-align: right;
  }
}

.main-site-link {
  color: var(--accent-cl);
  font-size: 13px;
  text-decoration: none;
}

.footer .container:first-child {
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .footer .container:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .footer .container:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */