:root {
  --accent-cl: #ff6c00;
  --accent-dark-cl: rgba(235, 85, 0, 1);
  --main-text-cl: #1c1b1b;
  --button-text-cl: #fff;
  --gradient: linear-gradient(
    92.31deg,
    rgba(237, 226, 218, 0.9) 11.41%,
    rgba(237, 226, 218, 0.753896) 28.14%,
    rgba(237, 226, 218, 0.466698) 41.29%,
    rgba(237, 226, 218, 0) 48.22%
  );

  --gradient-mobile: linear-gradient(
    104.71deg,
    rgba(237, 226, 218, 0.9) 11.41%,
    rgba(237, 226, 218, 0.753896) 28.14%,
    rgba(237, 226, 218, 0.466698) 41.29%,
    rgba(237, 226, 218, 0) 48.22%
  );

  --dashed-border: url("data:image/svg+xml,%3csvg width='103%25' height='101%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%231C1B1B' stroke-width='1' stroke-dasharray='8%2c 8' stroke-dashoffset='61' stroke-linecap='square'/%3e%3c/svg%3e");
}
