<ul class="list contacts-list">
  <li class="contacts-item">
    <a href="mailto:info@goit.ua" class="link contacts-link contacts-underline">
      info@goit.ua
    </a>
  </li>
  <li class="contacts-item">
    <a href="tel:+380933432127" class="link contacts-link">
      +38 (093) 343 21 27
    </a>
  </li>
  <li class="contacts-item">
    <a href="tel:+380673269592" class="link contacts-link">
      +38 (067) 326 95 92
    </a>
  </li>
  <li class="contacts-item">
    <a href="tel:+380503661777" class="link contacts-link">
      +38 (050) 366 17 77
    </a>
  </li>
</ul>
