<footer class="footer">
  <div class="container">
    <div>
      <p class="contacts-title">Запишитесь на курс:</p>
      <ul class="list contacts-list">
        <li class="contacts-item">
          <a href="tel:+380933432127" class="link contacts-link">
            +38 (093) 343 21 27
          </a>
        </li>
        <li class="contacts-item">
          <a href="tel:+380673269592" class="link contacts-link">
            +38 (067) 326 95 92
          </a>
        </li>
        <li class="contacts-item">
          <a href="tel:+380503661777" class="link contacts-link">
            +38 (050) 366 17 77
          </a>
        </li>
      </ul>
    </div>

    <include src="./partials/socials.html"></include>
  </div>
  <div class="container">
    <a href="./" class="logo">
      <img src="./images/logo.svg" alt="Лого Гоу Айти" />
    </a>

    <p class="copyright">
      ©2021. Онлайн-курс «Advanced JavaScript-разработчик» в
      <a href="https://goit.ua/" class="main-site-link" target="_blank" rel="noopener noreferrer">GoIT</a>
    </p>
  </div>
</footer>
