<form action="" class="form">
  <div class="form-group">
    <label class="form-label">
      Имя
      <sup>*</sup>
    </label>
    <input
      type="text"
      class="form-field"
      placeholder="Как Вас зовут?"
      pattern="[a-zA-Zа-яёА-ЯЁ\s]+$"
      required
    />
    <span class="form-field-invalid">Заполните все поля</span>
  </div>
  <div class="form-group">
    <label class="form-label">
      телефон
      <sup>*</sup>
    </label>
    <input
      type="text"
      class="form-field"
      placeholder="+38 0-- --- -- --"
      pattern="[0-9]{8,10}"
      required
    />
    <span class="form-field-invalid">Заполните все поля</span>
  </div>
  <div class="form-group">
    <label class="form-label">E-mail</label>
    <input
      type="text"
      class="form-field"
      placeholder="Андрес электронного ящика"
    />
    <span class="form-field-invalid">Заполните все поля</span>
  </div>
  <button class="btn btn-float" type="submit">
    Зарегистрироваться
  </button>
</form>
<div class="thank-you-message">
  <p>Спасибо, Ваша заявка принята!</p>
  <p>Мы свяжемся с вами в ближайшее время.</p>
</div>
