<header class="page-header">
  <div class="container">
    <a href="./" class="logo">
      <img src="./images/logo.png" alt="лого Гоу Айти" class="logo-img" />
    </a>
    <address class="contacts">
      <span class="contacts-title">Контакты:</span>
      <include src="./partials/contacts.html"></include>
      <button class="btn btn-small btn-accent" data-contacts-open>Контакты</button>
    </address>
    <button class="btn btn-small" data-modal-open>Перезвоните мне</button>
  </div>
</header>
