<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="title hero-title">Курс [Advanced JavaScript- разработчик]</h1>
      <p>
        Это сборник записанных
        <span>мини-курсов,</span>
        в который входят: React Native, Основы TypeScript и Vue.js. Он позволит тебе освоить необходимымие навыки и
        расширить свои знания в программировании.
      </p>
      <button class="btn">Получить консультацию</button>
    </div>
  </div>
</section>
