<div class="container">
  <section class="program block-bg">
    <h2 class="program-title">Программа курса:</h2>
    <ul class="list program-list">
      <li class="program-item">
        <h3 class="title program-item-title">
          Мини-курс
          <br />
          [React Native]
        </h3>
        <p>12 часов видео + конспект + практика (проект)</p>
      </li>
      <li class="program-item">
        <h3 class="title program-item-title">
          Мини-курс
          <br />
          [TypeScript]
        </h3>
        <p>7 часов видео</p>
      </li>
      <li class="program-item">
        <h3 class="title program-item-title">
          Мини-курс
          <br />
          [Vue.js]
        </h3>
        <p>7 часов видео ???</p>
      </li>
    </ul>
    <button class="btn">Приобрести весь курс</button>
  </section>
</div>
