<section class="section course">
  <div class="container">
    <h2 class="title section-title">
      Мини-курс
      <span>[React Native]</span>
    </h2>
    <section class="video-wrap">
      <iframe
        width="580"
        height="324"
        src="https://www.youtube.com/embed/vhc5IsJb_bM"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </section>

    <div class="content-wrap">
      <div class="content-box block-bg">
        <section class="themes">
          <h3 class="item-title">Список тем:</h3>
          <ol class="themes-list">
            <li class="themes-item">подготовка к работе</li>
            <li class="themes-item">стилизация и работа с формами</li>
            <li class="themes-item">debugger</li>
            <li class="themes-item">навигация</li>
            <li class="themes-item">нативные компоненты</li>
            <li class="themes-item">redux и firebase</li>
          </ol>
        </section>
      </div>
      <section class="content-box about-authors">
        <h3 class="item-title">Авторы курса:</h3>
        <article class="author">
          <h4 class="author-name">Владимир Мельник</h4>
          <button
            class="btn-more"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-3"
            aria-expanded="false"
            aria-controls="collapse-3"
          >
            Подробнее о преподавателе
          </button>
          <div class="author-description collapse" id="collapse-3">
            <p>
              Frontend developer с 2017 года. Основные технологии которыми
              пользуется в процессе разработки это React, Redux, Typescript,
              React Native, ES6 и другие.
            </p>
            <p>Проекты в которых принимал участие:</p>
            <ol>
              <li>Salvagebid - интернет аукцион автомобилей в США</li>
              <li>The Grid - B2B платформа для Сингапура</li>
              <li>IOWNХ app - мобильное приложение-кошелек для криптовалют</li>
              <li>
                TeenHab - мобильное приложение для развития полезных привычек у
                детей
              </li>
            </ol>
          </div>
        </article>

        <article class="author">
          <h4 class="author-name">Максим Норец</h4>
          <button
            class="btn-more"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-4"
            aria-expanded="false"
            aria-controls="collapse-4"
          >
            Подробнее о преподавателе
          </button>
          <div class="author-description collapse" id="collapse-4">
            <p>
              Frontend developer с 2018 года. Основные технологии которыми
              пользуется в процессе разработки это React, Redux, Typescript,
              React Native, ES6 и другие.
            </p>
            <p>Проекты в которых принимал участие:</p>
            <ol>
              <li>
                TeenHab - мобильное приложение для развития полезных привычек у
                детей
              </li>
              <li>Более 20-ти студенческих проектов</li>
            </ol>
          </div>
        </article>
      </section>
    </div>

    <section class="price block-bg">
      <svg class="price-icon">
        <use href="./images/sprite.svg#icon-time"></use>
      </svg>
      <div class="price-content">
        <p class="price-desc">
          12 часов видео + конспект + + практика (проект)
        </p>
        <b>9 900 ₴</b>
      </div>
      <button class="btn btn-float">Приобрести мини-курс</button>
    </section>
  </div>
</section>
