<section class="section requirements">
  <div class="container">
    <div class="content-box">
      <picture>
        <source
          srcset="
            ./images/requirements/mobile/img-1.webp    1x,
            ./images/requirements/mobile/img-1@2x.webp 2x
          "
          media="max-width: 320px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/requirements/tablet/img-1.webp    1x,
            ./images/requirements/tablet/img-1@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/requirements/mobile/img-1.png    1x,
            ./images/requirements/mobile/img-1@2x.png 2x
          "
          media="max-width: 320px"
          type="image/png"
        />
        <source
          srcset="
            ./images/requirements/tablet/img-1.png    1x,
            ./images/requirements/tablet/img-1@2x.png 2x
          "
          type="image/png"
        />

        <img
          class="requirements-img"
          src="./images/requirements/tablet/img-1.png"
          alt=""
        />
      </picture>
    </div>
    <div class="content-box">
      <h2 class="title section-title">
        [Требования к будущим студентам курса]:
      </h2>
      <img
        class="requirements-img"
        src="./images/requirements/mobile/img-1.png"
        alt=""
      />
      <ul class="list requirements-list">
        <li class="requirements-item block-bg">
          <p>Базовые знания JavaScript:</p>
          <ul class="list requirements-sublist">
            <li class="requirements-subitem">- типы данных</li>
            <li class="requirements-subitem">- функции</li>
            <li class="requirements-subitem">- работа с асинхронным кодом</li>
            <li class="requirements-subitem">- классы</li>
          </ul>
        </li>
        <li class="requirements-item block-bg">
          <p>Базовые знания React:</p>
          <ul class="list requirements-sublist">
            <li class="requirements-subitem">- props</li>
            <li class="requirements-subitem">- state</li>
            <li class="requirements-subitem">- жизненный цикл</li>
            <li class="requirements-subitem">- хуки useState и useEffect</li>
          </ul>
        </li>
        <li class="requirements-item block-bg">
          <p>Базовые знания Redux:</p>
          <ul class="list requirements-sublist">
            <li class="requirements-subitem">- Redux-thunk</li>
            <li class="requirements-subitem">- Middlewares</li>
          </ul>
          <p>Всю необходимую информацию дают на курсе Front-End в GoIT</p>
        </li>
        <li class="requirements-item block-bg">
          Английский уровня intermediate и выше – пройден тест на английский
          язык
        </li>
        <li class="requirements-item block-bg">
          Мотивация и наличие времени от 2-х часов в день
        </li>
      </ul>
    </div>
  </div>
</section>
