<section class="section skills">
  <div class="container">
    <h2 class="title section-title">[После курса ты сможешь]:</h2>
    <ul class="list skills-list">
      <li class="skills-item block-bg">
        <svg class="skills-item-icon">
          <use href="./images/sprite.svg#icon-1"></use>
        </svg>
        <p>Работать с наиболее востребованной библиотекой (Redux)</p>
      </li>
      <li class="skills-item block-bg">
        <svg class="skills-item-icon">
          <use href="./images/sprite.svg#icon-2"></use>
        </svg>
        <p>
          Взаимодействовать с любым видом бэкенда, получать данные и отображать
          их на экране
        </p>
      </li>
      <li class="skills-item block-bg">
        <svg class="skills-item-icon">
          <use href="./images/sprite.svg#icon-3"></use>
        </svg>
        <p>
          Получить должность React Native/Vue.js - разработчика в IT-компании
        </p>
      </li>
      <li class="skills-item block-bg">
        <svg class="skills-item-icon">
          <use href="./images/sprite.svg#icon-4"></use>
        </svg>
        <p>
          Брать фрилансерские заказы по Vue.js и по mobile-разработке на React
          Native
        </p>
      </li>
      <li class="skills-item block-bg">
        <svg class="skills-item-icon">
          <use href="./images/sprite.svg#icon-5"></use>
        </svg>
        <p>
          Будете использовать наиболее актуальную технологию в React - React
          Hooks
        </p>
      </li>
      <li class="skills-item block-bg">
        <svg class="skills-item-icon">
          <use href="./images/sprite.svg#icon-6"></use>
        </svg>
        <p>
          Будете использовать TypeScript для расширение возможностей работы с
          JavaScript
        </p>
      </li>
    </ul>
  </div>
</section>
