<ul class="list socials">
  <li class="socials-item">
    <a href="" class="socials-link" target="_blank" rel="noopener noreferrer">
      <svg class="socials-icon">
        <use href="./images/sprite.svg#icon-telegram"></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a href="" class="socials-link" target="_blank" rel="noopener noreferrer">
      <svg class="socials-icon">
        <use href="./images/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a href="" class="socials-link" target="_blank" rel="noopener noreferrer">
      <svg class="socials-icon">
        <use href="./images/sprite.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
</ul>
