<section class="section course">
  <div class="container">
    <h2 class="title section-title">
      Мини-курс
      <span>[TypeScript]</span>
    </h2>
    <section class="video-wrap">
      <iframe
        width="580"
        height="324"
        src="https://www.youtube.com/embed/VLaEWr4Og4s"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </section>
    <div class="content-wrap">
      <div class="content-box block-bg">
        <section class="themes">
          <h3 class="item-title">Список тем:</h3>
          <ol class="themes-list">
            <li class="themes-item">Основы TypeScript</li>
            <li class="themes-item">Дженерики и DOM</li>
            <li class="themes-item">TypeScript в React</li>
            <li class="themes-item">TypeScript в React Native</li>
            <li class="themes-item">TypeScript в React Native и Redux</li>
          </ol>
        </section>
      </div>
      <section class="content-box about-authors">
        <h3 class="item-title">Авторы курса:</h3>
        <article class="author">
          <h4 class="author-name">Александр Репета</h4>
          <button
            class="btn-more"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-1"
            aria-expanded="false"
            aria-controls="collapse-1"
          >
            Подробнее о преподавателе
          </button>
          <div class="author-description collapse" id="collapse-1">
            <p>
              CTO GoIT. Обучил более 3000 студентов. Разработчик с опытом
              создания клиентской и серверной части десктопных и мобильных
              приложений. Закончил ХНУРЭ по направлению «Компьютерная инженерия»
              в 2006 году. В работе использует языки программирования
              JavaScript, TypeScript, Python, Dart и их экосистему библиотек и
              инструментов. Для создания клиентской части веб-приложений
              предпочитает React и его производные, а для бекенда использует
              проверенный временем язык Python и базу данных PostgreSQL.
              Участвовал в проектах связанных с коммерцией, аналитикой,
              месенджерами, потоковым видео, тестированием знаний и другими
              направлениями. Сейчас работает над проектом в финтех сфере. Автор
              образовательных программ по HTML, CSS, JavaScript и React. С 2017
              года преподаёт в GoIT, где в текущее время занимает позицию Chief
              Technology Officer.
            </p>
          </div>
        </article>
        <article class="author">
          <h4 class="author-name">Владимир Мельник</h4>
          <button
            class="btn-more"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-2"
            aria-expanded="false"
            aria-controls="collapse-2"
          >
            Подробнее о преподавателе
          </button>
          <div class="author-description collapse" id="collapse-2">
            <p>
              Frontend developer с 2017 года. Основные технологии которыми
              пользуется в процессе разработки это React, Redux, Typescript,
              React Native, ES6 и другие.
            </p>
            <p>Проекты в которых принимал участие:</p>
            <ol>
              <li>Salvagebid - интернет аукцион автомобилей в США</li>
              <li>The Grid - B2B платформа для Сингапура</li>
              <li>IOWNХ app - мобильное приложение-кошелек для криптовалют</li>
              <li>
                TeenHab - мобильное приложение для развития полезных привычек у
                детей
              </li>
            </ol>
          </div>
        </article>
      </section>
    </div>

    <section class="price block-bg">
      <svg class="price-icon">
        <use href="./images/sprite.svg#icon-time"></use>
      </svg>
      <div class="price-content">
        <p class="price-desc">7 часов видео</p>
        <b>4 900 ₴</b>
      </div>
      <button class="btn btn-float">Приобрести мини-курс</button>
    </section>
  </div>
</section>
