<section class="section course">
  <div class="container">
    <h2 class="title section-title">
      Мини-курс
      <span>[Vue.js]</span>
    </h2>
    <section class="video-wrap">
      <iframe
        width="580"
        height="324"
        src="https://www.youtube.com/embed/b_hsUXGElrs"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </section>
    <div class="content-wrap">
      <div class="content-box block-bg">
        <section class="themes">
          <h3 class="item-title">Список тем:</h3>
          <ol class="themes-list">
            <li class="themes-item">Вступление</li>
            <li class="themes-item">Запуск проекта при помощи Vue cli</li>
            <li class="themes-item">Базовые понятия</li>
            <li class="themes-item">Знакомство со Slots</li>
            <li class="themes-item">Основы Vue-router</li>
            <li class="themes-item">Знакомство с лайвсайкл хукс</li>
            <li class="themes-item">Знакомство с Vuex</li>
            <li class="themes-item">Дополнительные материалы</li>
          </ol>
        </section>
      </div>
      <section class="content-box about-authors">
        <h3 class="item-title">Авторы курса:</h3>
        <article class="author">
          <h4 class="author-name">Александр Веник</h4>
          <button
            class="btn-more"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-5"
            aria-expanded="false"
            aria-controls="collapse-5"
          >
            Подробнее о преподавателе
          </button>
          <div class="author-description collapse" id="collapse-5">
            <p>
              Опыт работы более четырех лет в разработке. 2.5 года преподаватель
              в GoIT. За 4 года поработал в трех разных компаниях. Начинал с
              верстальщик + немного js на первой работе, работа шла с укр.
              рынком. Потом устроился в Labtop digital. Тут были сложные
              анимации и сложный респонсив + начал работать с Vue. Отличная
              компания, только хорошие воспоминания с ней. Но хотелось более
              сложной логики и после недолгих поисков прошел собес в Daxx. В ней
              работает с екомерс проектом(интернет магазин). Разработка в
              основном идет на Vue.js но есть маленкие проектики на ангуляре и
              реакте. Также обязательным является написание e2e и unit тестов.
              На текущий момент ведет три проекта в этой компании.
            </p>
          </div>
        </article>
      </section>
    </div>
    <section class="price block-bg">
      <svg class="price-icon">
        <use href="./images/sprite.svg#icon-time"></use>
      </svg>
      <div class="price-content">
        <p class="price-desc">7 часов видео</p>
        <b>7 900 ₴</b>
      </div>
      <button class="btn btn-float">Приобрести мини-курс</button>
    </section>
  </div>
</section>
