.contacts-title {
  font-weight: 700;
  display: none;

  @include for-size(desktop) {
    display: inline;
  }
}

.contacts-item {
  margin-bottom: 20px;
  text-align: center;

  @include for-size(desktop) {
    margin-bottom: 0;
    text-align: left;
  }

  &:first-child .contacts-link {
    text-decoration: underline;
  }

  &:not(:last-child) {
    @include for-size(desktop) {
      border-right: 1px solid var(--main-text-cl);
    }
  }
}

.contacts-link {
  display: inline-block;
  line-height: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts-btn {
  border: none;
  background-color: transparent;
  font-weight: 700;
  padding: 0;

  @include for-size(desktop) {
    display: none;
  }
}
