.page-header {
  padding-top: 15px;
  padding-bottom: 15px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contacts-list {
    display: none;

    @include for-size(desktop) {
      display: inline-flex;
    }
  }
}
