.hero {
  background-image: var(--gradient-mobile),
    url(../images/hero/mobile/banner.jpg);
  background-repeat: no-repeat;
  background-position: left bottom, center;
  background-size: contain, cover;

  @include for-size(mobile) {
    background-image: var(--gradient), url(../images/hero/tablet/banner.jpg);
  }

  @include for-size(tablet) {
    background-image: var(--gradient), url(../images/hero/desktop/bg.jpg);
  }

  @include for-size(desktop) {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
  }

  span {
    white-space: nowrap;
  }
}

.hero-content {
  padding-top: 30px;
  padding-bottom: 248px;

  @include for-size(tablet) {
    max-width: 50%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include for-size(desktop) {
    padding-top: 100px;
    padding-bottom: 132px;
    padding-left: 78px;
  }
}

.hero-title {
  margin-bottom: 20px;
}
