.cost {
  margin-bottom: 30px;

  @include for-size(desktop) {
    margin-bottom: 60px;
  }
}

.cost-title {
  font-weight: 700;
  color: var(--accent-cl);
  letter-spacing: 0.3em;
}

.cost-desc {
  font-size: 20px;
  line-height: 1.2;

  span {
    text-decoration: line-through;
  }
}

.offer {
  @include for-size(desktop) {
    padding-bottom: 120px;
  }

  .program {
    position: relative;

    @include for-size(desktop) {
      width: calc(100% / 12 * 5);
      margin-left: calc(100% / 12);
    }

    &::before {
      content: '';
      position: absolute;
      top: -30px;
      left: 50%;
      width: calc(100% + 16px);
      transform: translateX(-50%);
      height: 60px;
      background-image: url(../images/icon/brace.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      @include for-size(tablet) {
        top: -40px;
        background-image: url(../images/icon/brace-t.svg);
      }

      @include for-size(desktop) {
        top: 50%;
        left: -95px;
        transform: translateY(-50%);
        width: 100px;
        height: calc(100% + 20px);
        background-image: url(../images/icon/brace-v.svg);
        background-size: contain;
      }
    }
  }

  @include for-size(desktop) {
    .btn-float {
      display: none;
    }
  }

  @include for-size(desktop) {
    .container {
      display: flex;
    }

    .program-list {
      flex-direction: column;
    }
  }
}

@include for-size(desktop) {
  .offer-content {
    width: calc(100% / 12 * 4);
    margin-left: calc(100% / 12);
  }
}

.offer-content .btn {
  display: none;

  @include for-size(desktop) {
    display: inline-block;
  }
}
